body {
	font: 12px/1.2 normal Arial,Helvetica,sans-serif;
	color: #47474B;
	margin: 0px;
}

table {
	border: medium none;
	border-collapse: collapse;
	margin-bottom: 20px;
	width: 100%;
}

thead {
	background: -moz-linear-gradient(center bottom, #D5D4D5 0%, #F0F0F0 100%) repeat scroll 0 0 transparent;
	color: #7C7C7C;
}

td, th {
	border-bottom: 1px solid #CCCCCC;
	font-weight: normal;
	padding: 8px 10px;
}

tr.red {
	background-color: #FFCCCC;
}

tr.green {
	background-color: #CCFFCC;
}

tr.blue {
	background-color: #CCCCFF;
}

#top {
	background-color: #d5d4d6;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d5d4d6), color-stop(1, #f6f6f6));
	background: -moz-linear-gradient(center bottom, #d5d4d6 0%, #f6f6f6 100%);
	border-bottom: 1px solid #b7b6b8;
	padding:0 15px 0 15px;
	height:25px;
	line-height	:25px;
	position:relative;
	z-index:5;
}

#top span a {
	text-decoration: none;
	color: black;
}

#top span:hover {
	background-color: #C0C0C0;
}

.button {
	background: -webkit-gradient(linear, left bottom, left top, from(#00f), color-stop(0, #D5D4CC), color-stop(1, #F0F0CC));
	background: -moz-linear-gradient(center bottom, #D5D4CC 0%, #F0F0CC 100%) repeat scroll 0 0 transparent;
	border: 1px solid #D0D0D0;
	display: inline-block;
	padding: 5px 5px;
	cursor: pointer;
}

.button {
	color: black;
	text-decoration: none;
}

.button:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#00f), color-stop(0, #D5D4CC), color-stop(1, #FF9999));
	background: -moz-linear-gradient(center bottom, #D5D4CC 0%, #FF9999 100%) repeat scroll 0 0 transparent;

}